*.log
*.jobs
*.swp

bin_info/CheckM_qa.txt
bin_info/CheckM_results.tsv
bin_info/metabat_bins--all_info.tsv
bin_info/metabat_bins.tsv
bin_info/phylophlan_result.tsv
checkm_qa.out_err

data/all_taxa_lineage_notnone.tsv
data/nr.dmnd
data/nr.faa
data/prot.accession2taxid.gz
data/prot.accession2taxid.txt

holding_area/

metabat335/
prokka/results/
prokka/summary.csv

data/HOW10/
data/HOW11/
data/HOW12/
data/HOW13/
data/HOW14/
data/HOW4/
data/HOW5/
data/HOW6/
data/HOW7/
data/HOW8/
data/HOW9/
data/LOW10/
data/LOW11/
data/LOW12/
data/LOW13/
data/LOW14/
data/LOW4/
data/LOW5/
data/LOW6/
data/LOW7/
data/LOW8/
data/LOW9/
