*.log
*.jobs
*.swp
*/.ipynb_checkpoints/*
*/__pycache__/*

ANI/*.pdf
ANI/*.tsv
ANI/ANIs_by_JGI_tool/
ANI/*.ipynb
abundances/results/

assess_sample_mappings_to_contigs/*.ipynb
assess_sample_mappings_to_contigs/*.pdf
assess_sample_mappings_to_contigs/figures/
assess_sample_mappings_to_contigs/results/
assess_sample_mappings_to_contigs/retired/
assess_unbinned_reads_across_samples/data/

bin_info/CheckM_qa.txt
bin_info/CheckM_results.tsv
bin_info/metabat_bins--all_info.tsv
bin_info/metabat_bins.tsv
bin_info/phylophlan_result.tsv
checkm_qa.out_err

data/all_taxa_lineage_notnone.tsv
data/nr.dmnd
data/nr.faa
data/prot.accession2taxid.gz
data/prot.accession2taxid.txt

holding_area/

map_reads/final.contigs.fa.*

metabat335/
*/genomes/prokka/*.csv
*/genomes/prokka/results/
isolate_CheckM.txt
isolate_Fauzi_stats/isolate/genomes/prokka/results/
isolate_Fauzi_stats/isolate/genomes/prokka/summary.csv

prokka/results/
prokka/summary.csv

phylophlan/*.txt
phylophlan/*.nwk

*.bam
*.bai
*.fa
data/HOW10/
data/HOW11/
data/HOW12/
data/HOW13/
data/HOW14/
data/HOW4/
data/HOW5/
data/HOW6/
data/HOW7/
data/HOW8/
data/HOW9/
data/LOW10/
data/LOW11/
data/LOW12/
data/LOW13/
data/LOW14/
data/LOW4/
data/LOW5/
data/LOW6/
data/LOW7/
data/LOW8/
data/LOW9/

abundances/abundances_stats_for_each_bin_with_taxonomy_and_bin_stats.tsv
abundances/abundances_with_taxonomy_and_bin_stats.tsv
abundances/bin_abundances.tsv
abundances/bin_contig_mappings.tsv
abundances/old/
abundances/summary_abundancy_by_family.tsv
compare_metabats_unmapped/abundances_of_none.tsv

data/sample_info/meta4_sample_names--cryptic_to_sample_number.tsv

metabat.specific.min_contig2500/CheckM.txt
metabat.specific.min_contig2500/SCG/
metabat.specific.min_contig2500/bin_abundances.tsv
metabat.specific.min_contig2500/bin_contig_mappings.tsv
metabat.specific.min_contig2500/boot.2047962258932518847
metabat.specific.min_contig2500/depth.txt
metabat.specific.min_contig2500/saved_2500.dist
metabat.specific.min_contig2500/saved_2500.tnf
metabat.specific/CheckM.txt
metabat.specific/SCG/
metabat.specific/bin_abundances.tsv
metabat.specific/bin_contig_mappings.tsv
metabat.specific/boot.9853856739098185336
metabat.specific/depth.txt
metabat.specific/saved_1500.dist
metabat.specific/saved_1500.tnf
